header{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    color: #fff;
    width: 100%;
}



.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 2%;
}

.head a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    background: #0072FF;
    border-radius: 5px;
}

.tabs-clientes{
    background: rgb(221, 223, 226);
    display: grid;
    grid-template-columns: 40% 30% 30%;
    padding: 5px 2%;
    font-weight: 700;
}

.clientes-clientes{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    padding: 15px 2%;
    align-items: center;
    justify-content: center;
}

.clientes-clientes div{
    display: flex;
    justify-content: space-around;
}

.clientes-clientes div a {
    cursor: pointer;
}

.pagination{
    display: flex;
    justify-content: flex-end;
    padding: 10px 2%;
    text-align: center;
}

.pagination span{
    width: 25px;
    height: 25px;
    border-radius: 100px;
    margin: 0 3px;
    border: 1px solid #bbbbbb;
    color: #bbbbbb;
    cursor: pointer;
}

.pagination span:hover{
    background: #0072FF;
    color: #fff;
}