header{
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  color: #fff;
  width: 100%;
}

.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 2%;
}

.head a{
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  background: #0072FF;
  border-radius: 5px;
}

.tabs-rel{
  background: rgb(221, 223, 226);
  display: grid;
  grid-template-columns: 30% 15% 10% 10% 10% 25%;
  padding: 5px 2%;
  font-weight: 700;
}

.form-rel{
  display: grid;
  grid-template-columns: 20% 20% 25% 35%;
  padding: 0 2%;
}

.form-rel label input, .form-rel label select{
  border: 1px solid #33333350;
  height: 30px;
  border-radius: 4px;
  margin-top: 3px;
  padding: 0 5px;
}

.clientes-rel{
  display: grid;
  grid-template-columns: 30% 15% 10% 10% 10% 25%;
  padding: 15px 2%;
  align-items: center;
  justify-content: center;
}

.clientes-rel div{
  display: flex;
  justify-content: space-around;
}

.clientes-rel div a {
  cursor: pointer;
}

.imprimir{
  margin: 15px auto;
  display: block;
  background: #0072FF;
  color: #ffffff;
  font-size: 1.1em;
  border: 2px solid #0072FF;
  padding: 10px 35px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.imprimir:hover {
  background: #fff;
  color: #0072FF;
}