.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 2%;
}

.head a{
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  background: #0072FF;
  border-radius: 5px;
}

.tabs-rel{
  background: rgb(221, 223, 226);
  display: grid;
  grid-template-columns: 30% 15% 20% 10% 10% 15%;
  padding: 5px 2%;
  font-weight: 700;
}

.form-rel{
  display: grid;
  grid-template-columns: 15% 15% 45% 20%;
  padding: 0 0 15px 2%;
  justify-content: space-between;
  align-items: flex-end;
}

.form-rel label{
  display: flex;
  flex-direction: column;
}

.botaoRel{
  margin: 0px 40px;
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 5px 0;
  background: #0076FF;
  border: 2px solid #0076FF;
  border-radius: 4px;
  transition: 300ms
}

.form-rel label .react-datepicker-wrapper input, .form-rel label select{
  border: 1px solid #33333350;
  height: 35px;
  border-radius: 4px;
  margin-top: 3px;
  padding: 0 5px;
}

.clientes-rel{
  display: grid;
  grid-template-columns: 30% 15% 20% 10% 10% 15%;
  padding: 15px 2%;
  align-items: center;
  justify-content: center;
}

.clientes-rel div{
  display: flex;
  justify-content: space-around;
}

.clientes-rel div a {
  cursor: pointer;
}

.divButtons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.retiradas{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.retiradas input{
  width: 20px;
  height: 20px;
}

.imprimir{
  margin: 15px 0;
  background: #0072FF;
  color: #ffffff;
  font-size: 1.1em;
  border: 2px solid #0072FF;
  padding: 10px 35px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.imprimir:hover {
  background: #fff;
  color: #0072FF;
}

.rodape-rel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 5%;
}

.rodape-rel div{
  padding: 20px 0;
  width: 45%;
  text-align: center;
  border: 2px solid black;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}