.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 2%;
}

.head a{
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  background: #0072FF;
  border-radius: 5px;
}

.dados{
  display: flex;
  flex-direction: column;
  padding: 15px 5%;
}

.dados label{
  font-size: 1.2em;
  font-weight: bold;
  margin: 5px 0;
  padding: 3px 5px;
  border-bottom: 1px solid #ccc;
}

.dados label span{
  font-size: 1em;
  font-weight: normal;
  margin-left: 5px;
}
